.bgkIcon{
    height:110px;
    width:auto;
    align-self:center;
}

.icon{
    display:inline-block;
    height:30px;
    width:30px;
    align-self:center;
}

.searchIcon{
    widows: 1.3rem;
    height:1.3rem;
    margin:auto 2px auto .2rem;
}

.headerContainer{
    width:100%;
    background-color:white;
}

.header{
    position:relative;
    padding:.5rem 1.5rem;
    margin:0rem auto -3rem auto;
    z-index:1;
    display:grid;
    display:-moz-grid;
    display:-ms-grid;
    grid-template-columns:max-content auto max-content;
    grid-template-rows:max-content;
    align-items: center;
    justify-content: space-between;
    transition: width .5s;
}

.div{
    display:flex;
    display:-webkit-flex;
    flex-direction:row;
    align-items:center;
}
.myAccount{
    font-size:16px;
}

.searchBar{
    display:inline-block;
    padding:1px .5rem 1px .2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1rem;
    font-weight:550;
    color:rgb(0, 0, 0);
    transition: width .5s;
    border:none;
    background-color: rgba(0, 0, 0, 0);
}

.div:nth-of-type(2){
    border:2px solid rgba(59, 35, 19, 0.5);
    border-radius:20px;
    padding:0px 0rem 0px 0.2rem;
    display:grid;
    display:-moz-grid;
    display:-ms-grid;
    grid-template-columns: max-content auto;
    grid-template-rows: max-content;
    justify-content:center;
    background-color:rgba(255, 255, 255, 0.4);
}

.div:nth-of-type(2):focus-within{
    border:2px solid rgb(59, 35, 19);
    background-color:rgb(255, 255, 255);
}

.div:nth-of-type(2):focus{
    border:2px solid rgb(59, 35, 19);
}
.searchBar::-webkit-search-cancel-button{
    display:none;
}

.myAccountContainer{
    border:2px solid rgba(59, 35, 19, 0.589);
    display:flex;
    display:-webkit-flex;
    flex-direction:row;
    align-items:center;
    padding:3px 3px;
    transition:border-color .5s;
}

.myAccount{
    margin:auto .5rem auto 0px;
}

.myAccountContainer:focus{
    cursor:pointer;
    outline:none;
    border-color: rgb(59, 35, 19);
}

.myAccountContainer:hover{
    cursor:pointer;
    border-color:rgb(59, 35, 19);
}

.searchBar:focus{
    outline:none;
}

.bgkLogo:focus{
    outline:none;
}
@media (max-width:310px){
    .myAccountContainer{
        display:none;
    }
    .bgkLogo{
        display:none;
    }
    .header{
        grid-template-columns: max-content;
        grid-template-rows: max-content;
        align-items: center;
        justify-content:center;
    }
    .searchBar{
        width:190px;
        padding:.1rem .7rem .1rem .1rem;
        border-radius:0px 20px 20px 0px;
    }
}
@media (min-width:310px) and (max-width:360px){
    .myAccountContainer{
        display:none;
    }
    .bgkLogo{
        display:none;
    }
    .header{
        grid-template-columns: max-content;
        grid-template-rows: max-content;
        align-items: center;
        justify-content:center;
    }
    .searchBar{
        width:236px;
        padding:.1rem .7rem .1rem .1rem;
        border-radius:0px 20px 20px 0px;
    }
}
@media (min-width:360px) and (max-width:445px){
    .myAccountContainer{
        display:none;
    }
    .bgkLogo{
        display:none;
    }
    .header{
        grid-template-columns: max-content;
        grid-template-rows: max-content;
        align-items: center;
        justify-content:center;
        margin:0rem auto -3.4rem auto;
    }
    .searchBar{
        width:260px;
        padding:.1rem .7rem .1rem .1rem;
        border-radius:0px 20px 20px 0px;
    }
}    

@media (min-width:445px) and (max-width:630px){
    .bgkLogo{
        display:none;
    }
    .header{
        grid-template-columns: max-content max-content;
        grid-template-rows: max-content;
        align-items: center;
        justify-content:space-between;
        margin:-.1rem auto -3.5rem auto;
    }
    .searchBar{
        width:210px;
        padding:.1rem .7rem .1rem .1rem;
        border-radius:0px 20px 20px 0px;
    }
    .div:nth-of-type(2){
        padding:.3rem .5rem .3rem .5rem;
    }
    .myAccountContainer{
        margin:auto 1rem;
    }
}

@media (min-width:630px) and (max-width:682px){
    .header{
        width:100%;
    }
    .bgkIcon{
        height:90px;
    }
    .searchBar{
        width:200px;
        padding:.1rem .7rem .1rem .1rem;
        border-radius:0px 20px 20px 0px;
    }
    .div:nth-of-type(2){
        padding:.3rem .5rem .3rem .5rem;
        border-radius: 30px;
    }
}

@media (min-width:682px) and (max-width:768px){
    .header{
        width:100%;
    }
    .searchBar{
        width:250px;
        padding:.1rem .7rem .1rem .1rem;
        border-radius:0px 20px 20px 0px;
    }
    .div:nth-of-type(2){
        padding:.3rem .5rem .3rem .5rem;
        border-radius:20px;
    }
}

@media (min-width:768px) and (max-width:992px){
    .header{
        width:95%;
    }
    .searchBar{
        width:250px;
        padding:.1rem .7rem .1rem .1rem;
        border-radius:0px 20px 20px 0px;
    }
    .div:nth-of-type(2){
        padding:.3rem .5rem .3rem .5rem;
        border-radius:20px;
    }
}

@media (min-width:992px) and (max-width:1200px){
    .header{
        width:95%;
    }
    .searchBar{
        width:401px;
        padding:.1rem .7rem .1rem .1rem;
        border-radius:0px 20px 20px 0px;
    }
    .div:nth-of-type(2){
        padding:.3rem .5rem .3rem .5rem;
        border-radius:20px;
    }
}

@media (min-width:1200px){
    .header{
        width:1140px;
    }
    .searchBar{
        width:401px;
        padding:.1rem .7rem .1rem .1rem;
        border-radius:0px 20px 20px 0px;
    }
    .div:nth-of-type(2){
        padding:.3rem .5rem .3rem .5rem;
        border-radius:20px;
    }
}

@media (min-width:631px){
    .header{
        margin-bottom:0px;
        background-color:white;
    }
}