.header, .phoneSearch{
    margin:auto; 
    background-color:rgba(255, 255, 255, 0.9);
    /* box-shadow:0px 1px 2px rgb(200, 200, 200); */
}

.header{
    /* background-color:rgba(255, 217, 0, 0.9); */
}
.phoneSearch .searchIcon{
    margin-right:0.5rem;
}
@media (max-width:768px){
    .header, .phoneSearch{
        background-color:white;
    }
}
.header input{
    background-color:transparent;
}
.search:focus{
    background-color:white;
}
.headerContainer{
    position:sticky;
    top:0px;
    z-index:2;
    width:100%;
}

.signin{
    position:relative;
}
.positionFixed{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index:5;
}
.signin > div:first-of-type{
    position:absolute;
    right:-100vw;
    top:0px;
    z-index:5;
    background-color:rgba(255, 255, 255, 0.9);
    padding:2rem;
    text-align:center;
    border-left:1px solid rgb(210, 210, 210);
    border-bottom:1px solid rgb(210, 210, 210);
    transition:right 0.5s;
}
@media (min-width:425px){
    .signin > div:first-of-type{
        min-width:300px;
    }
}
.signin > div:first-of-type > button{
    border:1px solid rgb(210, 210, 210);
    padding:0.3rem 1rem;
    border-radius:5px;
    display:block;
    width:max-content;
    margin:1rem auto;
    transition:border-color 0.5s;
}
.signin > div:first-of-type > button:hover{
    border-color:rgb(12, 39, 241);
}
.userInitial{
    text-transform: capitalize;
    font-size:1rem;
    padding:0.2rem 0.7rem;
    display:inline-block;
    border-radius:50%;
    align-self:center;
    margin-right:0.5rem;
    margin-bottom:0rem;
}
.userInitial:hover{
    cursor:pointer;
}
.googleIconContainer{
    width: 30px;
    height:30px;
    margin-right:0.5rem;
}
.googleIconContainer > img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.signin > div:first-of-type > a:first-of-type{
    display:grid;
    display:-ms-grid;
    display:-moz-grid;
    grid-template-columns:max-content auto;
    border:1px solid rgb(210, 210, 210);
    border-radius:5px;
    justify-content:center;
    align-content:center;
    width:max-content;
    padding:0.2rem 0.5rem;
    margin:auto;
    transition:border-color 0.5s;
}
.signin > div:first-of-type > a:first-of-type:hover{
    text-decoration:none;
    border-color:rgb(12, 39, 241);
}
.signin > div:first-of-type > a:nth-of-type(2){
    padding:0.5rem 0.8rem;
}
.signin > div:first-of-type > a:nth-of-type(2):hover{
    text-decoration:none;
}
.signin > div:first-of-type > p{
    margin-top:1.5rem;
    font-size:0.9rem;
}
.phoneSearch{
    display:none;
    height:100%;
}

.header{
    position: relative;
    z-index: 2;
}
.title{
    display:grid;
    display:-ms-grid;
    display:-moz-grid;
    grid-template-columns:max-content max-content;
    grid-template-rows:auto;
    align-content:center;
    margin-left:1rem;
}
.title h1{
    font-size:1.7rem;
    font-weight:400;
}
@media (max-width:572px){
    .title h1{
        display:none;
    }
}
.title img{
    width:35px;
    height:35px;
}
@media (max-width:768px){
    
    .phoneSearch{
        position:absolute;
        top:0;
        z-index:2;
    }
    .phoneSearch div::before, .phoneSearch div::after{
        display:none;
    }
}

.arrowLeft{
    font-size:1.1rem;
    margin:0rem .2rem 0rem .3rem;
    
}

.homeLink{
    text-overflow:ellipsis;
    white-space: nowrap;
}

.homeLink span{
    font-weight: 400;
    font-size:1.4rem;
    margin-left:.5rem;
    overflow-x:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

@media (max-width:522px){
    .homeLink span{
        display:none;
    }
}

.homeLink div:first-of-type{
    display:inline-block;
    border-radius:50%;
    border:1px solid transparent;
}

.homeLink div:first-of-type:hover{
    border-color:rgb(120, 120, 120);
}

/*.homeLink img{
    width:32px;
    height:32px;
    margin:0.2rem;
}*/

.backIcon{
    width:22px;
    height:30px;
    margin:0.5rem;
}

.homePageLink{
    color:rgb(15, 15, 15);
}

.homePageLink:hover{
    text-decoration:none;
    color:rgb(15, 15, 15);
    cursor:pointer;
}


.search{
    border:1px solid rgb(104, 62, 34);
    padding:0.25rem .4rem;
    border-radius:25px;
}

.search div::before, .search div::after{
    display:none;
}

.search:focus-within, .search:focus{
    border:1px solid rgb(59, 35, 19);
}

.search input, .phoneSearch input{
    display:inline-block;
    padding:0px .3rem;
    width:300px;
    border:none;
    margin-left:.4rem;
    font-weight:400;
}

.phoneSearch input{
    display:inline-block;
    padding:0px .3rem;
    width:98%;
    border:none;
    margin-left:.4rem;
    font-weight:400;
}

.search input::-webkit-search-cancel-button, .phoneSearch input::-webkit-search-cancel-button{
    display:none;
}

.search input:focus, .phoneSearch input:focus{
    outline-style: none;
}

/* .searchButton{
    font-size:1.2rem;
    padding:.2rem .4rem .2rem .2rem;
    color:rgb(15, 15, 15);
} */

.search i, .shoppingCart, .searchButton{
    font-size:1.1rem;
    padding:.7rem;
    /* margin-right:.5rem; */
}

.searchIcon{
    /*height:35px;
    width:35px;*/
    width:28px;
    height:28px;
    border-left:1px solid transparent;
}
@media (min-width:1024px){
    .searchIcon{
        width:31px;
        height:31px;
    }
}

.backIcon{
    height:20px;
    height:20px;
}
.searchIcon:hover{
    cursor:pointer;
    border-left-color:rgb(210, 210, 210);
}

@media (max-width:321px){
    .header, .phoneSearch{
        padding:.4rem .5rem;
    }
    .header a:first-of-type{
        margin-right:auto;
    }
    .search{
        border:none;
    }
    .search input{
        display:none;
    }
    .homeLink span, .homeLink i{
        font-size:1.1rem;
    }
    /* .homeLink span{
        display:inline-block;
        width:160px;
    } */
}
@media (min-width:357px) and (max-width:375px){
    .header, .phoneSearch{
        padding:.4rem .5rem;
    }
    .search input{
        display:none;
    }
    .homeLink span, .homeLink i{
        font-size:1.2rem;
    }
    /* .homeLink span{
        display:inline-block;
        width:220px;   
    } */
    .search{
        border:none;
    }
}
@media (min-width:340px) and (max-width:357px){
    .header, .phoneSearch{
        padding:.4rem .5rem;
    }
    .search input{
        display:none;
    }
    .homeLink span, .homeLink i{
        font-size:1.2rem;
    }
    /* .homeLink span{
        display:inline-block;
        width:200px;   
    } */
    .search{
        border:none;
    }
}
@media (min-width:321px) and (max-width:340px){
    .header, .phoneSearch{
        padding:.4rem .5rem;
    }
    .search input{
        display:none;
    }
    .homeLink span, .homeLink i{
        font-size:1.2rem;
    }
    /* .homeLink span{
        display:inline-block;
        width:180px;   
    } */
    .search{
        border:none;
    }
}
@media (min-width:375px) and (max-width:426px){
    .header, .phoneSearch{
        padding:.5rem .5rem;
    }
    .search input{
        display:none;
    }
    .homeLink span, .homeLink i{
        font-size:1.2rem;
    }
    .homeLink span{
        margin-left:.3rem;
    }
    .search{
        border:none;
    }
    .search i, .shoppingCart, .searchButton{
        font-size:1.1rem;
    }
    .header a:first-of-type{
        margin-right:auto;
    }
}
@media (min-width:426px) and (max-width:768px){
    .header, .phoneSearch{
        padding:.4rem .7rem;
    }
    .search{
        border:none;
        border-radius: 0;
    }
    .search input{
        display:none;
    }
    /* .search i{
        font-size:1.5rem;
    } */
    .header a:first-of-type{
        margin-right:auto;
    }
    .search i, .shoppingCart, .searchButton{
        font-size:1.4rem;
    }
}
@media (max-width:769px){
    .header, .phoneSearch{
        width:100%;
    }
}

@media (min-width:769px) and (max-width:992px){
    .arrowLeft{
        font-size:1.4rem;
    }
    .header{
        /* width:95%; */
        padding:.6rem;
    }
    .shoppingCart{
        font-size:1.4rem;
    }
}

@media (min-width:992px) and (max-width:1200px){
    .header{
        /* width:95%; */
        padding:.6rem;
    }
    .shoppingCart{
        font-size:1.4rem;
    }
}

@media (min-width:1200px){
    .header{
        /* width:1200px; */
        max-width:1500px;
        padding:.7rem;
    }
    .shoppingCart{
        font-size:1.4rem;
    }
}
@media (max-width:768px){
    .phoneSearch{
        display:flex;
        display:-webkit-flex;
        display:-ms-flexbox;
        flex-direction:row;
        align-items: center;
    }
    
    .phoneSearch input{
        background:transparent;
        /* border-left:1px solid rgb(200, 200, 200); */
    }
}