/* .banner{
    width:100%;
    height:100%;
}
.bannerContainer{
    position:relative;
    z-index:0;
}
.slide{
    width:100vw;
    display:inline-block;
    margin-right:0px;
    max-height:370px;
} */
.bannerContainer{
    margin:1rem 1rem;
    display:grid;
    display:-ms-grid;
    display:-moz-grid;
    grid-template-columns:70% 30%;
    grid-template-rows:auto;
    z-index:0;
    position:relative;
}
.bannerContainer > div:first-of-type{
    /* margin:1rem 0.5rem; */
    box-shadow:0px 0px 15px 2px rgb(210, 210, 210);
    /* border-radius:20px; */
}
.bannerContainer > div:last-of-type{
    margin-left:0.5rem;
}
.bannerContainer > div:last-of-type img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.banner, .signup{
    height:370px;
    width:100%;
}
.slide{
    object-position: center;
}
.slide, .banner, .signup, .signup > a > img{
    /* border-radius:20px; */
}
@media (min-width:1245px) and (max-width:1290px){
    .banner, .signup{
        height:350px;
    }
}
@media (min-width:1120px) and (max-width:1245px){
    .banner, .signup{
        height:320px;
    }
}
@media(min-width:1000px) and (max-width:1120px){
    .banner, .signup{
        height:290px;
    }
}
@media (max-width:1000px){
    .bannerContainer{
        margin:0.1rem 0.1rem;
    }
}
@media (min-width:916px) and (max-width:1000px){
    .banner, .signup{
        height:270px;
    }
}
@media (min-width:840px) and (max-width:916px){
    .banner, .signup{
        height:250px;
    }
}
@media (min-width:770px) and (max-width:840px){
    .bannerContainer > div:last-of-type{
        display:none;
    }
    .bannerContainer{
        grid-template-columns: 95%;
        grid-template-rows:auto;
        justify-content: center;
    }
}
@media (max-width:770px){
    .bannerContainer > div:last-of-type{
        display:none;
    }
    .bannerContainer{
        grid-template-columns: 100%;
        grid-template-rows:auto;
        justify-content: center;
    }
}
@media (min-width:800px) and (max-width:840px){
    .banner, .signup{
        height:300px;
    }
}
@media (min-width:758px) and (max-width:800px){
    .banner, .signup{
        height:280px;
    }
}
@media (min-width:684px) and (max-width:758px){
    .banner, .signup{
        height:260px;
    }
}
@media (min-width:638px) and (max-width:684px){
    .banner, .signup{
        height:240px;
    }
}
@media (max-width:638px){
    .banner, .signup{
        height:auto;
    }
}
/* .signup{
    background-color:rgb(254, 254, 254);
    position:relative;
    background-image: url('/images/signupBanner1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.signup > div{
    width:80%;
    height:80%;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color:rgba(254, 254, 254, 0.4);
}
.signup h1{
    font-size:1.8rem;
    position:absolute;
    top: 20px;
}
.signup button{
    padding:0.5rem 1.5rem;
    border:none;
    font-size:1.2rem;
    position:absolute;
    bottom:40px;
    right:30px;
}
.signup:hover{
    cursor:pointer;
}

