.authorImageContainer{
    border:1px solid black;
    width:90px;
    height:90px;
    border-radius:45px;
    margin:.5rem auto;
}
.moreArticles{
    margin:1rem auto;
    padding:0.5rem;
    max-width:1200px;
}
@media (min-width:1024px){
    .container{
        margin:2rem auto;
        width:90%;
    }
}
@media (min-width:768px) and (max-width:1024px){
    .container{
        margin:1.5rem auto;
        width:95%;
    }
}
@media (min-width:425px) and (max-width:768px){
    .container{
        margin:1.5rem auto;
        width:95%;
    }
}