.authorImageContainer{
    border:1px solid black;
    width:90px;
    height:90px;
    border-radius:45px;
    margin:.5rem auto;
}
.moreArticles{
    margin:1rem auto;
    padding:0.5rem;
    max-width:1200px;
}