.articleContainer{
    margin:0px .5rem;
}
.authorInformation{
    padding:0 1rem;
    margin:1rem auto;
    width:max-content;
}
.authorImageContainer{
    border:1px solid black;
    width:90px;
    height:90px;
    border-radius:45px;
    margin:.5rem auto;
}

@media (min-width:768px){
    .authorInformation{
        margin:3rem auto;
    }
}