.container{
    margin:1rem;
    background-color:rgb(254, 254, 254);
    border:1px solid rgb(210, 210, 210);
    max-width:900px;
    background-color:white;
}
.order{
    display:grid;
    grid-template-columns: max-content auto;
    grid-template-rows:auto;
    /* margin:1rem; */
    /* background-color:rgb(254, 254, 254); */
}
@media (max-width:499px){
    .order{
        border:none;
        box-shadow: none;
    }
}
@media (min-width:499px){
    .order{
        /* border:1px solid #d2d2d2; */
        /* box-shadow:1px 1px 4px rgb(220, 220, 220); */
        max-width:900px;
    }
}
@media (min-width:1024px){
    /* .order */.container{
        margin-top:1.5rem;
        margin-bottom:2rem;
        margin-left:3rem;
    }
}
.order>div:last-of-type{
    /*border-bottom:1px solid rgb(210, 210, 210);
    border-top:1px solid rgb(210, 210, 210);
    border-right:1px solid rgb(210, 210, 210);*/
    padding:0.5rem 0.5rem;
}
.order > div:last-of-type ul, .productDetails{
    list-style:none;
    padding:0rem 1rem 0rem 0rem;
    margin:0rem 0rem 1rem 1rem;
}
.close{
    text-align: right;
}
.close span{
    font-size:1.7rem;
    border:1px solid transparent;
    padding:0rem 0.8rem 0.5rem 0.8rem;
    border-radius:50%;
}

.close span:hover{
    cursor:pointer;
    border-color:rgb(180, 180, 180);
}
@media (min-width:680px) and (max-width:840px){
    .productDetails{
        margin:0rem 0rem 0rem 1rem;
    }
}
@media (max-width:498px){
    .productDetails{
        padding:0rem 0.5rem;
    }
}
.imageContainer{
    width:350px;
    height:300px;
}
.imageContainer img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.productInfoS{
    display:none;
    /* border:1px solid black; */
    padding:1rem;
}
@media (max-width:375px){
    .productInfoS{
        padding:0rem 1rem 1rem 1rem;
    }
}
@media (max-width:1225px){
    .order{
        border:none;
    }
    .imageContainer{
        width:130px;
        height:130px;
    }
    .productInfoL{
        display:none;
    }
    .productInfoS{
        display:block;
        margin:auto;
        width:max-content;
    }
}
@media (max-width:450px){
    .imageContainer{
        width:100px;
        height:100px;
    }
    .container{
        margin:1rem 0.5rem;
    }
}
@media (max-width:840px){
    /*.imageContainer{
        width:300px;
        height:250px;
    }*/
    .order{
        margin:1rem 0.5rem;
    }
}
/* This code is for responsiveness */
/*@media (max-width:680px){
    .order{
        display:block;
        background-color:rgb(253, 253, 253);
    }
}*/
@media (min-width:498px) and (max-width:680px){
    .imageContainer{
        border-right:1px solid rgb(210, 210, 210);
    }
    .order{
        padding:0rem 0.3rem 0.3rem 0rem;
    }
    .order > div:last-of-type{
        /* border:1px solid rgb(210, 210, 210); */
        border:none;
        /* width:474px; */
        /* margin-top:-1rem; */
        /* margin-left:auto; */
        margin:0rem 0rem 0rem 1rem;
        /* padding:1.5rem 0rem 0rem 0rem; */
        background-color:white;
    }
    .order > div:last-of-type ul, .productDetails{
        padding:0rem 1rem 1rem 1rem;
        margin:0rem;
    }
}
@media (max-width:498px){
    .imageContainer{
        border-right:1px solid rgb(210, 210, 210);
    }
    .order{
        padding:0rem;
    }
    .order > div:last-of-type{
        /* border:1px solid rgb(210, 210, 210); */
        border:none;
        /* width:100%; */
        /* margin-top:-1rem; */
        /* margin-left:auto; */
        margin:0rem 0rem 0rem 1rem;
        /* padding:1.5rem 0rem 0rem 0rem; */
        background-color:white;
    }
    .order > div:last-of-type ul, .productDetails{
        margin:0rem;
    }
    .order > div:last-of-type{
        padding:0rem;
    }
}
@media (min-width:681px){
    .imageContainer{
        border-right:1px solid rgb(210, 210, 210);
    }
}

/*@media (min-width:464px) and (max-width:498px){
    .imageContainer{
        height:400px;
    }
}
@media (min-width:423px) and (max-width:464px){
    .imageContainer{
        height:380px;
    }
}
@media (min-width:400px) and (max-width:423px){
    .imageContainer{
        height:350px;
    }
}
@media (min-width:359px) and (max-width:400px){
    .imageContainer{
        height:310px;
    }
}
@media (min-width:343px) and (max-width:359px){
    .imageContainer{
        height:290px;
    }
}
@media (min-width:326px) and (max-width:343px){
    .imageContainer{
        height:270px;
    }
}
@media (min-width:314px) and (max-width:326px){
    .imageContainer{
        height:260px;
    }
}
@media (max-width:314px){
    .imageContainer{
        height:250px;
    }
}*/
/* Style for article content */

.productDetails p{
    margin-bottom:0.6rem;
}
.productDetails h3{
    font-size:1.1rem;
}
.productDetails > p:nth-of-type(3){
    display:block;
}
.productDetails p:nth-of-type(1), .productDetails p:nth-of-type(2){
    max-height:1.6rem;
    overflow-y:hidden;
}
.productDetails p:nth-of-type(3){
    max-height:3.2rem;
    overflow-y:hidden;
}
.productDetails > div > p:nth-of-type(1){
    max-height:max-content;
}
@media (max-width:425px){
    .productDetails p{
        margin-bottom:0.5rem;
    }
}

@media (max-width:840px){
    .productDetails > p:nth-of-type(3){
        display:none;
    }
}
@media (min-width:680px) and  (max-width:840px){
    .productDetails > div > p:nth-of-type(1){
        max-height:6.2rem;
    }
}
@media (min-width:768px) and (max-width:1024px){
    .productDetails h3{
        font-size:1.1rem;
        max-height:3.6rem;
    }
    .productDetails h5{
        font-size:1.1rem;
    }
}
@media (min-width:426px) and (max-width:768px){
    .productDetails h3{
        font-size:1rem;
        max-height:3.6rem;
    }
    .productDetails h5{
        font-size:1rem;
    }
}
@media (min-width:320px) and (max-width:426px){
    .productDetails h3{
        font-size:1rem;
        max-height:3.4rem;
    }
    .productDetails h5{
        font-size:1rem;
    }
}
@media (max-width:320px){
    .productDetails h3{
        font-size:1.1rem;
        max-height:3.4rem;
    }
    .productDetails h5{
        font-size:1.1rem;
    }
}

/* Additional order information */
.moreInformation{
    border:1px solid rgb(210, 210, 210);
    display:grid;
    display:-ms-grid;
    display:-moz-grid;
    grid-template-columns:max-content max-content max-content;
    justify-content:start;
    width:max-content
}
.moreInformation section{
    width:max-content;
    padding:2rem;
}
@media (max-width:425px){
    .moreInformation section{
        padding:1rem;
    }
}
.moreInformation section:not(:first-of-type){
    border-left:1px solid rgb(210, 210, 210);
}
@media (max-width:1336px){
    .moreInformation{
        border:none;
    }
    .moreInformation section:last-of-type{
        border-left:none;
    }
}
@media (min-width:929px) and (max-width:1336px){
    .moreInformation{
        grid-template-columns:max-content max-content;
    }
}
@media (max-width:929px){
    .moreInformation{
        grid-template-columns:auto;
    }
    .moreInformation section:nth-of-type(2){
        border-left:none;
    }
}

.moreInformation ul{
    list-style:none;
}

.moreInformation > section > h1{
    font-size:1.1rem;
    margin-bottom:1rem;
}
.progress > ul{
    margin:0rem;
    padding:0rem;
}

.progress > ul > li{
    border:1px solid rgb(120, 120, 120);
    padding:0.5rem;
    width:300px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin:0.5rem 0rem;
    display:grid;
    display:-ms-grid;
    display:-moz-grid;
    grid-template-columns:auto auto;
    justify-content:space-between;
}
@media (min-width:340px) and (max-width:385px){
    .progress > ul > li{
        width:270px;
    }
}
@media (min-width:320px) and (max-width:340px){
    .progress > ul > li{
        width:260px;
    }
}
@media (max-width:320px){
    .progress > ul > li{
        width:80vw;
    }
}
.progress > ul > li > span{
    display:inline-block;
    max-width:130px;
    border:1px solid rgb(210, 210, 210);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media (max-width:340px){
    .progress > ul > li > span{
        max-width:120px;
    }
}
.delivery, .payment{
    width:max-content;
}
.delivery th, .payment th{
    font-weight:500;
}
.delivery td, .payment td, .delivery th, .payment th{
    width:180px;
    padding:0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
}
@media (min-width:371px) and (max-width:440px){
    .delivery td, .payment td, .delivery th, .payment th{
        width:150px;
    }
}
@media (max-width:371px){
    .delivery th, .payment th{
        width:100px;
    }
    .delivery td, .payment td{
        width:145px;
    }
}