.loadingAnimation{
    border-top:2px solid rgba(255, 255, 255, 1);
    border-right:2px solid rgba(255, 255, 255, 0.2);
    border-left:2px solid rgba(255, 255, 255, 0.2);
    border-bottom:2px solid rgba(255, 255, 255, 0.2);
    width:1.3rem;
    height:1.3rem;
    margin:auto;
    border-radius:0.7rem;
    animation: rotate 1s 1s linear infinite;
}

@keyframes rotate{
    from{
        transform: rotateZ(0deg);
    }

    to{
        transform: rotateZ(360deg);
    }
}