.searchResult{
    display:grid;
    grid-template-columns: max-content auto;
    grid-template-rows:auto;
    margin:1rem;
}
@media (max-width:499px){
    .searchResult{
        border:none;
        box-shadow: none;
    }
}
@media (min-width:499px){
    .searchResult{
        border:1px solid #d2d2d2;
        box-shadow:1px 1px 4px rgb(220, 220, 220);
        max-width:900px;
    }
}
@media (min-width:1024px){
    .searchResult{
        margin-top:1.5rem;
        margin-bottom:2rem;
        margin-left:3rem;
    }
}
.searchResult>div:last-of-type{
    /*border-bottom:1px solid rgb(210, 210, 210);
    border-top:1px solid rgb(210, 210, 210);
    border-right:1px solid rgb(210, 210, 210);*/
    padding:1rem 0rem;
}
.searchResult > div:last-of-type ul, .details, .productDetails{
    list-style:none;
    padding:0rem 1rem 0rem 0rem;
    margin:0rem 0rem 1rem 1rem;
}
@media (min-width:680px) and (max-width:840px){
    .details, .productDetails{
        margin:0rem 0rem 0rem 1rem;
    }
}
@media (max-width:498px){
    .details, .productDetails{
        padding:0rem 0.5rem;
    }
}
.imageContainer{
    width:350px;
    height:300px;
}
.imageContainer img{
    width:100%;
    height:100%;
    object-fit:cover;
}
@media (max-width:840px){
    .imageContainer{
        width:300px;
        height:250px;
    }
    .searchResult{
        margin:1rem 0.5rem;
    }
}
/* This code is for responsiveness */
@media (max-width:680px){
    .searchResult{
        display:block;
        background-color:rgb(253, 253, 253);
    }
}
@media (min-width:498px) and (max-width:680px){
    .searchResult{
        padding:0rem 0.3rem 0.3rem 0rem;
    }
    .searchResult > div:last-of-type{
        /* border:1px solid rgb(210, 210, 210); */
        border:none;
        width:474px;
        margin-top:-1rem;
        margin-left:auto;
        padding:1.5rem 0rem 0rem 0rem;
        background-color:white;
    }
    .searchResult > div:last-of-type ul, .details, .productDetails{
        padding:0rem 1rem 1rem 1rem;
        margin:0rem;
    }
}
@media (min-width:681px){
    .imageContainer{
        border-right:1px solid rgb(210, 210, 210);
    }
}
@media (max-width:498px){
    .imageContainer{
        width:100%;
    }
    .searchResult{
        padding:0rem;
    }
    .searchResult > div:last-of-type{
        /* border:1px solid rgb(210, 210, 210); */
        border:none;
        width:100%;
        /* margin-top:-1rem; */
        /* margin-left:auto; */
        /* padding:1.5rem 0rem 0rem 0rem; */
        background-color:white;
    }
    .searchResult > div:last-of-type ul, .details, .productDetails{
        margin:0rem;
    }
}
@media (min-width:464px) and (max-width:498px){
    .imageContainer{
        height:400px;
    }
}
@media (min-width:423px) and (max-width:464px){
    .imageContainer{
        height:380px;
    }
}
@media (min-width:400px) and (max-width:423px){
    .imageContainer{
        height:350px;
    }
}
@media (min-width:359px) and (max-width:400px){
    .imageContainer{
        height:310px;
    }
}
@media (min-width:343px) and (max-width:359px){
    .imageContainer{
        height:290px;
    }
}
@media (min-width:326px) and (max-width:343px){
    .imageContainer{
        height:270px;
    }
}
@media (min-width:314px) and (max-width:326px){
    .imageContainer{
        height:260px;
    }
}
@media (max-width:314px){
    .imageContainer{
        height:250px;
    }
}
/* Style for article content */
.details p{
    height:6.6rem;
    /* border:1px solid black; */
    overflow-y: hidden;
}
.details p, .productDetails p{
    font-size:1rem;
}
.details h3, .productDetails h3{
    font-size:1.1rem;
    max-height:2rem;
    overflow-y:hidden;
    font-weight:500;
}
.productDetails h5{
    font-size: 1.1rem;
    font-weight:500;
    margin-top:1.5rem;
}
.productDescription{
    margin:1.5rem 0rem;
}
.details h3:hover, .productDetails h3:hover{
    cursor:pointer;
    color:blue;
    text-decoration: underline;
}
.details > span:first-of-type, .productDetails b{
    text-transform: capitalize;
    font-weight:normal;
}
.productDetails p{
    margin-bottom:0.6rem;
}
.productDetails > p:nth-of-type(3){
    display:block;
}
.productDetails p:nth-of-type(1), .productDetails p:nth-of-type(2){
    max-height:1.6rem;
    overflow-y:hidden;
}
.productDetails p:nth-of-type(3){
    max-height:3.2rem;
    overflow-y:hidden;
}
.productDetails > div > p:nth-of-type(1){
    max-height:max-content;
}
@media (max-width:425px){
    .productDetails p{
        margin-bottom:0.5rem;
    }
}
@media (min-width:840px) and (max-width:1024px){
    .details p{
        height:6.1rem;
        overflow-y: hidden;
    }
    .details p, .productDetails p{
        font-size:1rem;
    }
}
@media (max-width:840px){
    .details p{
        height:4.7rem;
    }
    .details p, .productDetails p{
        font-size:1rem;
    }
    .productDetails > p:nth-of-type(3){
        display:none;
    }
}
@media (min-width:680px) and  (max-width:840px){
    .details span:last-of-type{
        display:block;
        height:1.6rem;
        overflow-y:hidden;
    }
    .productDetails > div > p:nth-of-type(1){
        max-height:6.2rem;
    }
}
@media (min-width:768px) and (max-width:1024px){
    .details h3, .productDetails h3{
        font-size:1.1rem;
        max-height:3.6rem;
    }
    .productDetails h5{
        font-size:1.1rem;
    }
}
@media (min-width:426px) and (max-width:768px){
    .details h3, .productDetails h3{
        font-size:1rem;
        max-height:3.6rem;
    }
    .productDetails h5{
        font-size:1rem;
    }
}
@media (min-width:320px) and (max-width:426px){
    .details h3, .productDetails h3{
        font-size:1rem;
        max-height:3.4rem;
    }
    .productDetails h5{
        font-size:1rem;
    }
}
@media (max-width:320px){
    .details h3, .productDetails h3{
        font-size:1.1rem;
        max-height:3.4rem;
    }
    .productDetails h5{
        font-size:1.1rem;
    }
}