.article{
    width:auto;
    display:inline-block;
    margin-bottom:0.5rem;
    /* border:1px solid rgb(210, 210, 210); */
    background-color:white;
    box-shadow:1px 1px 4px rgb(220, 220, 220);

}
.article:hover, .article.focus{
    /* box-shadow:0 0 8px 4px rgb(210, 210, 210); */
    cursor:pointer;
}

.featuredImage{
    display:inline-block;
    position:absolute;
    width:100%;
    height:100%;
    object-fit: cover;
}

.featuredImageContainer{
    overflow:hidden;
}

.articleTitle{
    white-space:normal;
    font-weight:600;
    font-size:15px;
    color:rgb(60, 60, 60);
}

.articleContent{
    padding:.5rem .2rem;
}

.articleContent h6{
    width:100%;
}

@media (max-width:768px){
    .featuredImageContainer{
        width:229px;
        height:170px;
        position:relative;
    }
    .article{
        width:229px;
        margin:0px 0.3rem;
    }
    .articleTitle{
        width:230px;
        font-size:1.2rem;
    }
}

@media (min-width:768px) and (max-width:992px){
    .featuredImageContainer{
        width:249px;
        height:200px;
        position:relative;
    }
    .article{
        width:249px;
        margin:0px 0.3rem;
    }
    .articleTitle{
        width:250px;
        font-size:1.2rem;
    }
}

@media (min-width:992px) and (max-width:1200px){
    .featuredImageContainer{
        width:249px;
        height:200px;
        position:relative;
    }
    .article{
        width:249px;
        margin: 0px 0.3rem;
    }
    .articleTitle{
        width:240px;
        font-size:1.2rem;
    }
}

@media (min-width:1200px){
    .featuredImageContainer{
        width:249px;
        height:200px;
        position:relative;
    }
    .article{
        width:249px;
        margin:0px 0.4rem;
    }
    .articleTitle{
        width:250px;
        font-size:1.2rem;
    }
}