.detailsContainer{
    padding:1rem;
}
@media (max-width:425px){
    .detailsContainer{
        padding: 0.2rem 1rem;
    }
}

.detailsContainer h6::last-line{
    white-space: normal;
}

.rating{
    color:rgb(255, 255, 0);
}
.detailsContainer h5{
    font-size:1.1rem;
}
.productInformation h5{
    font-size:1.1rem;
}

.detailsContainer strong{
    font-weight:600;
    color:rgb(45, 45, 45);

}

.supplierInformation{
    border-top:1px solid rgb(210, 210, 210);
    border-bottom:1px solid rgb(210, 210, 210);
    padding:0.7rem 0rem;
}
.supplierInformation h5{
    color:blue;
}
.supplierInformation p{
    overflow-x: auto;
    white-space: nowrap;
    padding:0.1rem 0rem;
}
.supplierInformation p::-webkit-scrollbar{
    display:none;
}

.supplierInformation h5:hover{
    cursor:pointer;
    text-decoration:underline;
}
.supplierInformation b{
    font-weight:600;
}
/* .productInformation > p:first-of-type{
    
}

.productInformation > p:nth-of-type(2){
    margin:.5rem 0rem .1rem 0rem;
}

.productInformation > p:nth-of-type(3){
    margin:.2rem 0rem;
}
.sizeSelect{
    margin-top:.8rem;
} */

.size{
    padding:0rem .5rem;
    border:1px solid rgb(210, 210, 210);
}

.size:focus{
    outline:none;
}

.availableColors{
    width:100%;
}

.availableColors div{
    height:100px;
    width:90px;
    border:1px solid rgb(210, 210, 210);
    display:inline-block;
    margin:.2rem;
}

.availableColors div:nth-of-type(even){
    background-color: silver;
}

.colorSelect{
    transition:width .3s;
    margin-bottom:1.3rem;
}

.colorSelect h5{
    margin-bottom:0rem;
}

.supplierInformation p{
    margin:0.2rem 0rem;
}

.companyName{
    text-transform:capitalize;
}

.productDescription{
    margin:1rem 0rem;
}

/* .productDescription button{
    border:none;
    display:inline-block;
    width:100%;
    padding:.5rem .2rem .2rem .2rem;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 2%, rgba(255, 255, 255, 1));
}

.productDescription button:focus{
    outline:none;
}

.productDescription p{
    margin-bottom:-2.3rem;
} */
@media (min-width:1410px){
    .colorSelect{
        width:600px;
    }
}
@media (min-width:1376px) and (max-width:1410px){
    .colorSelect{
        width:560px;
    }
}

@media (min-width:1335px) and (max-width:1376px){
    .colorSelect{
        width:520px;
    }
}
/*1290 */
@media (min-width:1290px) and (max-width:1335px){
    .colorSelect{
        width:480px;
    }
}

@media (min-width:1273px) and (max-width:1290px){
    .colorSelect{
        width:720px;
    }
}

@media(min-width:1230px) and (max-width:1273px){
    .colorSelect{
        width:680px;
    }
}

@media (min-width:1192px) and (max-width:1230px){
    .colorSelect{
        width:640px;
    }
}

@media (max-width:1192px){
    .colorSelect{
        width:680px;
    }
}

@media (min-width:1096) and (max-width:1131px){
    .colorSelect{
        width:640px;
    }
}
@media(min-width:1048px) and (max-width:1096px){
    .colorSelect{
        width:600px;
    }
}

@media (min-width:1024px) and (max-width:1048px){
    .colorSelect{
        width:560px;
    }
}

@media (min-width:998px) and (max-width:1024px){
    .colorSelect{
        width:500px;
    }
}

@media (min-width:992px) and (max-width:998px){
    .colorSelect{
        width:460px;
    }
}

@media (min-width:914px) and (max-width:992px){
    .colorSelect{
        width:860px;
    }
}

@media (min-width:872px) and (max-width:914px){
    .colorSelect{
        width:820px;
    }
}

@media (min-width:830px) and (max-width:872px){
    .colorSelect{
        width:780px;
    }
}

@media (min-width:790px) and (max-width:830px){
    .colorSelect{
        width:740px;
    }
}

@media (min-width:744px) and (max-width:790px){
    .colorSelect{
        width:700px;
    }
}

@media (min-width:710px) and (max-width:744px){
    .colorSelect{
        width:660px;
    }
}

@media (min-width:668px) and (max-width:710px){
    .colorSelect{
        width:610px;
    }
}
@media (min-width:628px) and (max-width:668px){
    .colorSelect{
        width:570px;
    }
}

@media (min-width:590px) and (max-width:628px){
    .colorSelect{
        width:530px;
    }
}

@media (min-width:550px) and (max-width:590px){
    .colorSelect{
        width:490px;
    }
}

@media (min-width:504px) and (max-width:550px){
    .colorSelect{
        width:450px;
    }
}

@media (min-width:470px) and (max-width:504px){
    .colorSelect{
        width:410px;
    }
}

@media (min-width:444px) and (max-width:470px){
    .colorSelect{
        width:370px;
    }
}

@media (max-width:444px){
    .colorSelect{
        width:100%;
    }
}