.detailsContainer{
    padding:1rem;
}
@media (max-width:425px){
    .detailsContainer{
        padding: 0.2rem 1rem;
    }
}

.detailsContainer h6::last-line{
    white-space: normal;
}

.productInformation p{
    margin-bottom:2px;
}
.productInformation p:nth-of-type(2){
    margin-top:4px;
    font-size:1.05rem;
}
.initialPrice {
    font-size:0.9rem;
    text-decoration: line-through;
    color:rgb(83, 83, 83);
}
.rating{
    color:rgb(255, 255, 0);
}
.detailsContainer h5{
    font-size:1.1rem;
}
.productInformation h5{
    font-size:1.1rem;
}

.detailsContainer strong{
    font-weight:600;
    color:rgb(45, 45, 45);

}

.supplierInformation{
    border-top:1px solid rgb(210, 210, 210);
    border-bottom:1px solid rgb(210, 210, 210);
    padding:0.7rem 0rem;
}
@media (min-width:426px){
    .supplierInformation{
        border-bottom:none;
    }
}
.supplierInformation h5{
    color:blue;
}
.supplierInformation p{
    overflow-x: auto;
    white-space: nowrap;
    padding:0.1rem 0rem;
}
.supplierInformation p::-webkit-scrollbar{
    display:none;
}

.supplierInformation h5:hover{
    cursor:pointer;
    text-decoration:underline;
}
.supplierInformation b{
    font-weight:600;
}
/* .productInformation > p:first-of-type{
    
}

.productInformation > p:nth-of-type(2){
    margin:.5rem 0rem .1rem 0rem;
}

.productInformation > p:nth-of-type(3){
    margin:.2rem 0rem;
}*/
.size{
    padding:0rem .5rem;
    border:1px solid rgb(210, 210, 210);
}

.size:focus{
    outline:none;
}

.availableColors{
    width:100%;
}

.availableColors div{
    height:100px;
    width:90px;
    border:1px solid rgb(210, 210, 210);
    display:inline-block;
    margin:.2rem;
}

.availableColors div:nth-of-type(even){
    background-color: silver;
}

.supplierInformation p{
    margin:0.2rem 0rem;
}

.companyName{
    text-transform:capitalize;
}

.productDescription{
    margin:1rem 0rem;
}
.variations{
    max-width:100%;
}

.variations div{
    max-width:98vw;
    padding:0.3rem 0.8rem;
    border-radius:3px;
    margin-right:0.6rem;
    margin-top:0.4rem;
    display:inline-block;
}
.variations div:hover{
    border-color:rgba(233, 116, 21, 0.5);
}
.variations div:hover{
    cursor:pointer;
}
.active{
    border:1px solid rgb(233, 116, 21);
}
.notActive{
    border:1px solid rgb(210, 210, 210);
}