.container{
    background-color:rgb(245, 245, 245);
}

.resetPasswordContainer{
    width:400px;
    margin:0rem auto;
}

.container, .resetPasswordContainer{
    display:grid;
    display:-ms-grid;
    display:-moz-grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
    justify-content:center;
    align-items:center;
}

@media (max-width:400px){
    .resetPasswordContainer{
        width:100%;
    }
}