.bgkLogo{
    height:100px;
    display:block;
    margin:0px auto;
}

.required{
    color:red;
}

.ResetPasswordForm{
    padding:0.5rem;
}

.ResetPasswordForm h5{
    margin: 1rem 0px;
}
.input{
    width:100%;
    border:1px solid rgb(193, 140,42);
    padding:.5rem .3rem;
}

.input:focus{
    outline:none;
}

.resend{
    font-size:.9rem;
    text-align:center;
}