/* This is the new styles */

.searching{
    
    text-align:center;
    min-height:75vh;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows:auto auto;
    justify-content:center;
    align-content:center;
    margin:0rem 0.5rem;
    display:none;
}
.searching h1{
    font-size:1.4rem;
    max-width:400px;
    color:rgb(60, 60, 60);
}

.body{
    margin:1rem auto;
}
/* @media (min-width:656px){
    .body{
        border:1px solid rgb(210, 210, 210);
    }
} */
@media (max-width:768px){
    .body{
        width:100%;
    }
}
@media (min-width:768px) and (max-width:1200px){
    .body{
        width:95%;
    }
}
@media (min-width:1200px){
    .body{
        width:1200px;
    }
}

@media (max-width:321px){
    .body{
        margin:.5rem auto;
    }
}
@media(min-width:321px) and (max-width:426px){
    .body{
        margin:.5rem auto;
    }
}
@media(min-width:426px) and (max-width:656px){
    .body{
        margin:.5rem auto;
    }
}