.articleTitle{
    text-align:center;
    font-weight:bold;
}

.articleTitle h3{
    font-size:1.3rem;
    text-align:left;
    font-weight:bold;
}

@media (max-width:768px) and (min-width:425px){
    .articleTitle h3{
        font-size:1.7rem;
    }
}

@media (min-width:768px){
    .articleTitle h3{
        font-size:2rem;
        text-align:center;
    }
}