.container{
    /* border:1px solid rgb(210, 210, 210); */
    display:inline-block;
    width:max-content;
    margin:.5rem .5rem;
    break-inside:avoid;
    background-color: white;
    box-shadow:1px 1px 4px rgb(220, 220, 220);
}
.companyName{
    text-transform: capitalize;
}
.companyDetails p{
    width:100%;
    overflow-x:auto;
}
.container:hover, .container:focus, .container_FullWidth:hover, .container_FullWidth:focus{
    /* border-color:white;
    box-shadow:0 4px 8px rgb(210, 210, 210); */
    cursor:pointer;
}
.imageContainer{
    width:200px;
    height:160px;
    border-bottom:1px solid rgb(210, 210, 210);
}

.imageContainer img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.companyDetails{
    padding:.5rem;
    width:200px;
}

.companyDetails p:first-of-type{
    font-weight:600;
}

@media (max-width:425px){
    .companyDetails p{
        font-size:15px;
    }
}
.companyDetails p, .companyDetails_FullWidth p{
    margin:0px;
    padding:3px 0px;
    white-space: nowrap;
    overflow-x:hidden;
    text-overflow: ellipsis;
}

@media (min-width:769px){
    .imageContainer{
        width:230px;
        height:200px;
    }
    .companyDetails{
        padding:.5rem;
        width:230px;
    }
}
.container_FullWidth{
    border:1px solid rgb(210, 210, 210);
    display:block;
    width:47vw;
    margin:.2rem .2rem .2rem .2rem;
    border-radius:7px;
}

.imageContainer_FullWidth{
    width:100%;
    height:140px;
    border-bottom: rgb(210, 210, 210);
}

@media (min-width:375px) and (max-width:425px){
    .imageContainer_FullWidth{
        height:160px;
    }
}

@media (min-width:425px) and (max-width:469px){
    .imageContainer_FullWidth{
        height:180px;
    }
}
@media (min-width:469px) and (max-width:540px) {
    .imageContainer_FullWidth{
        height:190px;
    }
}
@media (min-width:540px) and (max-width:640px) {
    .imageContainer_FullWidth{
        height:160px;
    }
}
@media (min-width:640px) and (max-width:722px) {
    .imageContainer_FullWidth{
        height:180px;
    }
}
@media (min-width:722px) and (max-width:796px) {
    .imageContainer_FullWidth{
        height:190px;
    }
}
@media (min-width:796px) and (max-width:1173px) {
    .imageContainer_FullWidth{
        height:200px;
    }
}
@media (min-width:1173px) and (max-width:1237px) {
    .imageContainer_FullWidth{
        height:220px;
    }
}
@media (min-width:1237px){
    .imageContainer_FullWidth{
        height:240px;
    }
}

.imageContainer_FullWidth img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:7px 7px 0px 0px;
}

.companyDetails_FullWidth{
    width:100%;
    padding:0.5rem;
}

.companyDetails_FullWidth p{
    font-size:0.9rem;
    margin:2px 1px;
    padding:1px 1px;
}
.companyDetails_FullWidth p:first-of-type{
    font-weight: 600;
    transition:color 1s;
}
.companyDetails_FullWidth p:first-of-type:hover{
    cursor:pointer;
    color:rgb(0, 0, 200);
}
@media (min-width:768px){
    .companyDetails_FullWidth p{
        font-size:1rem;
    }
}
@media (min-width:1024px){
    .container_FullWidth{
        margin:.5rem;
    }
}

@media (min-width:540px) and (max-width:968px){
    .container_FullWidth{
        width:31vw;
    }
}
@media (min-width:968px){
    .container_FullWidth{
        width:23vw;
    }
}