.trendingContainer_notFull, .trendingContainer_full{
    margin:auto;
    height:auto;
    background-color:rgb(254, 254, 254);
    padding:.5rem .5rem .7rem .5rem;
}

.articleContainer{
    margin:.5rem 0px 0rem 0px;
    padding-bottom:0.5rem;
}
.articleContainer span:not(:last-of-type){
    margin-right:1rem
}

@media (max-width:768px){
    .trendingContainer_notFull{
        width:100%;
        margin:1rem auto 1rem auto;
        box-shadow:0px 0px 15px 2px rgb(245, 245, 245);
    }
}

@media (min-width:768px) and (max-width:992px){
    .trendingContainer_notFull{
        width:95%;
        margin:1rem auto 1rem auto;
        border-radius:10px;
        box-shadow:0px 0px 15px 2px rgb(210, 210, 210);
    }
}
@media (min-width:992px) and (max-width:1200px){
    .trendingContainer_notFull{
        width:95%;
        margin:1rem auto 1rem auto;
        border-radius:10px;
        box-shadow:0px 0px 15px 2px rgb(210, 210, 210);
    }
}
@media (min-width:1200px){
    .trendingContainer_notFull{
        width:1140px;
        margin:1rem auto 1rem auto;
        border-radius:10px;
        box-shadow:0px 0px 15px 2px rgb(210, 210, 210);
    }
}