.sectionHeader{
    padding:.2rem 1.5rem;
    overflow:auto;
    display:flex;
    display:-webkit-flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid rgb(180, 180, 180);
}
.sectionTitle{
    font-size: 1.1rem;
}
.sectionLink{
    padding:.6rem 1rem;
    margin-top:.1rem;
    background-image:url('/icons/icons8-right-48.png');
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
}
