.categories{
    text-align:center;
    padding:2rem 0px;
    font-family:Arial;
    margin:auto;
    background-color:white;
    box-shadow:0px 0px 5px 2px rgb(245, 245, 245);
}

@media (min-width:768px){
    .categories{
        box-shadow:0px 0px 5px 2px rgb(220, 220, 220);
    }
}

.categoryNavigationTitle{
    font-size:1.2rem;
    margin-bottom:1rem;
}

@media (max-width:504px){
    .categoryNavigationTitle{
        font-size:1.1rem;
        margin-bottom:1rem;
    }
}
.cateNav{
    display:flex;
    display:-webkit-flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    margin:auto;
    max-width:517px;
}

@media (max-width:415){
    .cateNav{
        padding:0px 3px;
    }
}

@media (max-width:280px){
    .cateNav{
        width:100%;
        border:1px solid black;
    }
}



@media (max-width:768px){
    .categories{
        width:100%;
    }
}
@media (min-width:768px) and (max-width:992px){
    .categories{
        width:95%;
        box-shadow:0px 0px 15px 2px rgb(210, 210, 210);
        /* border-radius: 10px 10px; */
    }
}
@media (min-width:992px) and (max-width:1200px){
    .categories{
        width:95%;
        box-shadow:0px 0px 15px 2px rgb(210, 210, 210);
    }
}
@media (min-width:1200px){
    .categories{
        width:1140px;
        box-shadow:0px 0px 15px 2px rgb(210, 210, 210);
        /* border-radius: 0px 0px 10px 10px; */
    }
}
@media (min-width:380px) and(max-width:471px){
    .cateNav{
        margin-top:1rem;
    }
}

/* 
.cateNav .category:nth-of-type(8){
    visibility:hidden;
}
.cateNav .category:nth-of-type(7){
    visibility:hidden;
} */