.container{
    width:1000px;
    margin:.5rem auto auto auto;
    padding:1rem;
}

@media (min-width:768px) and (max-width:1000px) {
    .container{
        width:90%;
    }
}
@media (max-width:768px){
    .container{
        width:100%;
    }
}

.preview{
    display:grid;
    display:-ms-grid;
    display:-moz-grid;
    grid-template-columns:150px auto;
    grid-template-rows:auto;
}

.preview > div:first-of-type{
    width:150px;
}
.preview > div:first-of-type > img{
    width:100%;
    height:100%;
}

.preview h1, .cost > div > div > h2{
    font-size: large;
}
.preview > div:last-of-type{
    padding:1rem;
}

.cost{
    padding:1rem;
    margin-top:1rem;
}
@media (max-width:425px){
    .cost{
        padding:0rem;
    }
}
.cost > div:first-of-type{
    display:grid;
    display:-ms-grid;
    display:-moz-grid;
    grid-template-columns: max-content auto;
    grid-template-rows: auto;
}

.cost > div:first-of-type > div{
    width:max-content;
}
.cost > div:first-of-type > div:first-of-type{
    padding-right:1rem;
}
.cost > div:first-of-type > div > h2:not(:nth-of-type(4)){
    height:45px;
    display:grid;
    grid-template-columns: 100%;
    align-content:center;
}
.cost > div:first-of-type > div:last-of-type > h2{
    font-weight:400;
    font-size:17px;
}

.cost > div:last-of-type{
    border:1px solid black;
    width:100%;
}

.finish{
    margin:1rem auto;
    text-align:center;
}
.finish > button{
    border:none;
    padding:1rem;
    min-width:200px;
    border-radius:5px;
    background-color:rgba(233, 116, 21, 1);
    color:white;
    font-weight:600;
}
.finish > button:hover{
    box-shadow:0px 0px 3px 2px rgba(233, 116, 21, 0.5);
}
.finish > button:focus{
    background-color:rgb(202, 103, 22);
    outline:none;
    box-shadow:0px 0px 3px 2px rgba(233, 116, 21, 0.5);
}

.error {
    font-size:0.9rem;
}