.hardwareAndShopsContainer{
    margin:1rem auto;
    background-color:white;
    padding:.5rem;
}

.hardwareContainer{
    white-space:nowrap;
    overflow-x:auto;
    overflow-y:hidden;
    border:1px solid rgb(120, 120, 120);
}
@media(max-width:768px){
    .hardwareAndShopsContainer{
        width:100%;
    }
}

@media(min-width:768px) and (max-width:992px){
    .hardwareAndShopsContainer{
        width:95%;
        border-radius: 10px;
    }
}
@media(min-width:992px) and (max-width:1200px){
    .hardwareAndShopsContainer{
        width:95%;
        border-radius: 10px;
    }
}

@media (min-width:1200px){
    .hardwareAndShopsContainer{
        width:1140px;
        border-radius: 10px;
    }
}