.hardware{
    display:inline-block;
    border-radius: 3px;
    margin:0px .4rem;
}

.hardwareImage{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 7px 7px 0px 0px ;
}
.hardwareImageContainer{
    width:170px;
    height:160px;
}
.hardwareName{
    font-size:1.1rem;
    margin:2px 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hardwareLocation{
    font-size:1rem;
}

.hardwareDetails{
    padding:.5rem .1rem;
}