.articleContent{
    margin-top:1rem;
    max-width:900px;
    font-family:Roboto;
    font-size:18px;
    background-color: 240, 240, 240;
}
.authorInformation{
    padding:1rem;
    margin:1rem auto;
    text-transform: capitalize;
    max-width:900px;
    font-family:Roboto;
    font-size:18px;
    background-color: 240, 240, 240;
}
.articleContent, .authorInformation{
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.authorInformation strong{
    font-weight:600;
}

.articleContent p, .authorInformation strong{
    font-size:1.4rem;
}
.articleContent li{
    font-size:1.3rem;
}
.articleContent h1{
    margin-bottom:1.2rem;
}

@media(min-width:425px) and (max-width:768px){
    .articleContent h1{
        font-size:2.2rem;
    }
    .articleContent h2{
        font-size:1.9rem;
    }
}
@media (max-width:425px){
    .articleContent h1{
        font-size:26px;
    }
    .articleContent h2{
        font-size:24px;
    }
    .articleContent h3{
        font-size:22px;
    }
    .articleContent p, .authorInformation strong{
        font-size:18px;
    }
    .articleContent li{
        font-size:17px;
    }
}