.footerContainer{
    background-color:white;
    box-shadow:0px 0px 15px 2px rgb(245, 245, 245);
}
@media (min-width:768px){
    .footerContainer{
        box-shadow:0px 0px 15px 2px rgb(210, 210, 210);
    }
}
.footer{
    margin:auto; 
    display:grid;
    display:-moz-grid;
    display:-ms-grid;
    grid-template-columns:auto auto auto;
    grid-template-rows:auto;
    padding:1rem;
}

.footer ul{
    list-style:none;
    margin:0px;
    padding:0px;
}

.footer a{
    text-decoration:none;
}

.footer li{
    padding:.2rem .5rem;
}

.footer div{
    margin-top:1rem;
    /* text-align: center; */
}

@media (max-width:530px){
    .footer{
        grid-template-columns: auto;
    }
}

@media(min-width:530px) and (max-width:768px){
    .footer{
        width:100%;
    }
    .footer{
        grid-template-columns: auto auto;
    }
}

@media (min-width:768px) and (max-width:1200px){
    .footer{
        width:95%;
    }
}

@media (min-width:1200px){
    .footer{
        width:1140px;
    }
}


